<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>

    <!-- Bootstrap Core CSS -->
    <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/jasny-bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/navmenu-reveal.css') }}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

  <body>
    <div class="navmenu navmenu-default navmenu-fixed-left">
      <img src="{{ url_for('static', filename='logo.png')}}" width="60%"/>
      <ul class="nav navmenu-nav">
        <li id="schoolsAndCategories">
            <h3 class="filter">Schools</h3>
            <div class="category-checkbox">
                <input type="checkbox" name="school" value="Harvey-Mudd"> Harvey Mudd
            </div>
            <div class="category-checkbox">
                <input type="checkbox" name="school" value="Pomona"> Pomona
            </div>
            <div class="category-checkbox">
                <input type="checkbox" name="school" value="Pitzer"> Pitzer
            </div>
            <div class="category-checkbox">
                <input type="checkbox" name="school" value="Scripps"> Scripps
            </div>
            <div class="category-checkbox">
                <input type="checkbox" name="school" value="Claremont-McKenna"> Claremont McKenna
            </div>
            <h3 class="filter">Categories</h3>
            <div class="category-checkbox">
                <input type="checkbox" name="category" value="Career"> Career
            </div>
            <div class="category-checkbox">
                <input type="checkbox" name="category" value="Speaker"> Speaker
            </div>
            <div class="category-checkbox">
                <input type="checkbox" name="category" value="Workshop"> Workshop
            </div>
            <div class="category-checkbox">
                <input type="checkbox" name="category" value="Social"> Social
            </div>
            <div class="category-checkbox">
                <input type="checkbox" name="category" value="Safety"> Safety
            </div>
            <div class="category-checkbox">
                <input type="checkbox" name="category" value="Buy/Sell"> Buy/Sell
            </div>
        </li>
      </ul>
    </div>

    <div class="canvas">
      <div class="navbar navbar-default navbar-fixed-top">
        <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-recalc="false" data-target=".navmenu" data-canvas=".canvas">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="container">
        <div class="page-header">
          <img src="{{ url_for('static', filename='icon.png')}}" width="8%"/>
          <h1 style="display: inline-block;">Chirps|Admin</h1>
          <a href="{{ url_for('logout') }}" style="float:right" class="btn btn-default">Log out </a>
        </div>
        {% for message in get_flashed_messages() %}
          <div class="flash">{{ message }}</div>
        {% endfor %}

        <div id="alert-area"></div>
        <div id="chirp-list">
          {% for chirp in chirps %}
          <div class="row" id="chirp-{{ chirp.objectId }}">
            <div class="col-md-2 col-md-offset-1" data-user-id="{{chirp.user.objectId}}" data-chirp-id="{{chirp.objectId}}" data-chirp-title="{{chirp.title}}">
              <button type="button" class="btn btn-success approveBtn">Approve</button>
              <button type="button" class="btn btn-danger rejectBtn">Reject</button>
            </div>
            <div class="col-md-8">
              <div class="panel panel-default">
                <div class="panel-heading">
                  {{ chirp.title }}
                </div>
                <div class="panel-body">
                  <strong>User:</strong> {{ chirp.user.name }} ({{ chirp.user.email }}) <br>
                  <strong>Description:</strong> {{ chirp.description }}<br>
                  <strong>Contact:</strong> {{ chirp.contactEmail }}<br>
                  <strong>Post Until:</strong> {{ chirp.expirationDate.iso }}<br>
                  <strong>Schools:</strong> {{ chirp.schoolsStr }}<br>
                  <strong>Categories:</strong> {{ chirp.categoriesStr }}<br>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div><!-- /.container -->
    </div>

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jasny-bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/filter.js') }}"></script>

</body>

</html>
