<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS -->
    <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/jasny-bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/navmenu-reveal.css') }}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

  <body>
    <div class="navmenu navmenu-default navmenu-fixed-left">
      <img src="{{ url_for('static', filename='logo.png')}}" width=60%/>
      <a class="navmenu-brand" href="#">Chirps|Admin</a>
      <ul class="nav navmenu-nav">
        <li>
            <a href="#">Pending Chirps</a>
        </li>
        <li>
            <a href="#">Approved Chirps</a>
        </li>
        <li>
            <a href="{{ url_for('logout')}}">Log out</a>
        </li>
      </ul>
    </div>

    <div class="canvas">
      <div class="navbar navbar-default navbar-fixed-top">
        <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-recalc="false" data-target=".navmenu" data-canvas=".canvas">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="container">
        <div class="page-header">
          <img src="{{ url_for('static', filename='icon.png')}}" width=8%/>
          <h1 style="display: inline-block;">Chirps|Admin</h1>
          <a href="{{ url_for('logout') }}" style="float:right" class="btn btn-default">Log out </a>
        </div>
        {% for message in get_flashed_messages() %}
          <div class=flash>{{ message }}</div>
        {% endfor %}
        {% block body %}{% endblock %}
      </div><!-- /.container -->
    </div>

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename="js/jquery.js") }}"></script>
    <script src="{{ url_for('static', filename="js/bootstrap.min.js") }}"></script>
    <script src="{{ url_for('static', filename="js/jasny-bootstrap.min.js") }}"></script>

</body>

</html>