{% extends "layout.html" %}
{% block body %}
  <form action="{{ url_for('approveOrRejectChirps') }}" method=post>
  <input type="submit" name="submit" value="Approve">
  <input type="submit" name="submit" value="Reject">
  <ul class=entries>
  {% for chirp in chirps %}
    <div>
      <input type="checkbox" name='chirpId' value={{ chirp.objectId }}>
      <li><h2>{{ chirp.title }}</h2>
    </div>
    	<h3>Description: </h3>{{ chirp.description }}
    	<h3>Contact Info: </h3>{{ chirp.contactEmail }}
    	<h3>Expiration Date and Time: </h3>{{ chirp.expirationDate.iso }}
    	<h3>Schools: </h3>{{ chirp.schools }}
  {% else %}
    <li><em>Yassss nothing to approve or reject!</em>
  {% endfor %}
  </ul>
  </form>
{% endblock %}
<!--- data --->