.buttons					{ padding-bottom: 1.5em;}
h3.filter					{ padding-left: 1em; font-size: 12pt;}
h4.chirp-label				{ display: block; font-weight: bold; font-size: 12pt; }
.category-checkbox		{ padding-left:1em; }